# {{ ansible_managed }}

<VirtualHost *:80>
  DocumentRoot {{ www_html }}
  ServerName {{ vhost_domainname }}
  ErrorLog www_root_dir/error.log
  CustomLog www_root_dir/access.log combined
</VirtualHost>
